.container {
    display: flex;
    margin: 80px auto;
    width: 540px;
    height: 400px;
    font-size: 17px;
    background-color: rgb(13, 13, 13);
    color: rgb(186, 185, 185);
    border-radius: 5px;
}
