.menu {
    width: 400px;
}

.menu__item {
    margin: 20px 20px 60px 20px;
    align-items: center;
}

.menu__form {
    display: flex;
}

.menu__item-title {
    margin: 20px 0;
    text-align: center;
}

.menu__item-btn {
    height: 35px;
    width: 110px;
    margin-left: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.menu__item-btn:hover {
    opacity: 0.7;
}

.menu__item-btn_type_create {
    background-color: rgb(0, 166, 255);
}

.menu__item-btn_type_edit {
    background-color: rgb(234 242 28);
}

.menu__item-btn_type_remove {
    background-color: rgb(235, 11, 11);
}

.menu__item-input {
    outline-color: gray;
    border-radius: 6px;
    border: none;
}

.menu__radio {
    display: flex;
    margin-top: 30px;
    font-size: 14px;
    justify-content: space-evenly;
    font-weight: bold;
}

.menu__radio_waiting {
    color: rgb(0, 166, 255);
}

.menu__radio_completed {
    color: rgb(57, 255, 47);
}
