.list {
    display: flex;
    width: 140px;
    list-style-type: none;
    flex-direction: column;
    border-right: 1px solid silver;
    overflow: scroll;
}

.list__items {
    display: flex;
    list-style-type: none;
    padding: 10px 0 0 0;
    gap: 20px;
    flex-direction: column;
    margin: 0 0 0 10px;
}

.list__input {
    width: calc(100% - 10px);
    border: none;
    border-radius: 6px;
    height: 20px;
    align-self: center;
    outline: none;
    opacity: 0.4;
    transition: opacity ease-out 0.2s;
}

.list__input:focus {
    opacity: 1;
}
